:root {
    --color-primary: #000000;
    --color-secondary: #D9D9D9;

    --radius:20px;

    // <svg class="icon">
    //     <use xlink:href="#Profile"></use>
    //     </svg>
    // <svg class="icon">
    //     <use xlink:href="#Vector"></use>
    //     </svg>
    // <svg class="icon">
    //     <use xlink:href="#Search"></use>
    //     </svg>
    //<svg class="icon">
    //     <use xlink:href="#heart"></use>
    // </svg>

}